*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #191919;
}
html{
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.content{
    
    width: 75%;
    height: 100vh;
}

.film{
    width: 640px;
    height: 360px;
    padding: 2rem;
    border: 0px solid;
}

header{
    display: flex;
    gap: 20px;
}

.entersearch{

    width: 25em;margin-top: 1rem;
    padding: 1.1rem;
    margin-top: 1.2rem;
    background-color: #1B1A55;
    caret-color: white;
    border-radius: 100px;
    border: 0px solid;
    padding-left: 2rem;
    color: white;
}
.entersearch:focus{
    outline: none;
    border: 0px solid;
    color: white;
}

.searchok{
    padding: 1rem;
    border-radius: 100px;
    color: #FEFBF6;
    background-color: #03C988;
    border: 0px solid;
    
}

.top-phim{
    border-radius: 20px;
    padding: 1rem;
    margin-top: 0.7rem;
    margin-left: 50%;
    color: #FEFBF6;
    background-color: #03C988;
    border: 0px solid;
}

.logo{
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    padding-bottom: 1rem;
    color: #FEFBF6;
    
}

