*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #191919;
}
html{
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.content{
    
    width: 75%;
    height: 100vh;
}

.film{
    width: 640px;
    height: 360px;
    padding: 2rem;
    border: 0px solid;
}

header{
    display: flex;
    gap: 20px;
}

.entersearch{

    width: 25em;margin-top: 1rem;
    padding: 1.1rem;
    margin-top: 1.2rem;
    background-color: #1B1A55;
    caret-color: white;
    border-radius: 100px;
    border: 0px solid;
    padding-left: 2rem;
    color: white;
}
.entersearch:focus{
    outline: none;
    border: 0px solid;
    color: white;
}

.searchok{
    padding: 1rem;
    border-radius: 100px;
    color: #FEFBF6;
    background-color: #03C988;
    border: 0px solid;
    
}

.top-phim{
    border-radius: 20px;
    padding: 1rem;
    margin-top: 0.7rem;
    margin-left: 50%;
    color: #FEFBF6;
    background-color: #03C988;
    border: 0px solid;
}

.logo{
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    padding-bottom: 1rem;
    color: #FEFBF6;
    
}


.ep{
    display: grid;
    grid-template-columns: repeat(10,2em);
    column-gap: 32px;
    margin-left: 20px;
}

.btn{
    margin: 2px;
    width: 4em;
    height: 2em;
    color: white;
    background-color: #03C988;
    border-radius: 3px;
    
}

.btn:hover{
 transform: translateY(-2px);
 background-color: white;
 color: #03C988;
 animation: btn 10s ease;
}

@keyframes btn {
    0% {
      box-shadow: 0 0 10px white;
    }
    25% {
      box-shadow: 0 0 15px white;
    }
    50% {
      box-shadow: 0 0 20px white;
    }
    75% {
      box-shadow: 0 0 15px white;
    }
    100% {
      box-shadow: 0 0 10px white;
    }
  }

.btn:active{
    transform: translateY(2px);
}

.title{
    height: 20vh;
    background-color: #03C988;
    width: 60%;
}

.title>h3{
    color: white;
    font-size: 2rem;
}